@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");



*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 100%;
  box-sizing: inherit;
  scroll-behavior: smooth;
  height: -webkit-fill-available;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: clamp(1rem, 2vw, 1.125rem);
  font-weight: 400;
  line-height: 1.5;
  height: -webkit-fill-available;
}

h1 {
  font-weight: var(--weight1);
  color: var(--varyDarkBlue);

}

h2 {
  font-size: 32px;
  font-weight: var(--weight3);
  color: var(--varyDarkBlue);
  line-height: 37px;
}

h3 {
  color: var(--varyDarkBlue);
  font-weight: var(--weight3);
  line-height: 25px;
  padding-top: 2%;
  font-size: 22px;
}

h4 {
  color: var(--varyDarkBlue);
  font-weight: var(--weight3);
  font-size: 18px;
  padding-top: 0.7%;
}
/*  ---------------- section 1------------- */

.sub-head{
  font-size: 12px;
}

.right{
  border-left: 1px solid  #cecfcf;
}
.left,.right{
  padding: 5%;
}
.placement{
  width:100%;
  background-color: #5ABB96;
  height: auto;
  text-align: center;
  border-radius: 10px;
}
.mainhed{
  font-size: 20px;
  padding: 4% 10%;
  font-weight: 500;
  border-bottom: 2px solid #cecfcf ;
 
  color: #2b2b2b;
}
.job{
  width: 40%;
  background-color: #5ABB96;
  height: auto;
  text-align: center;
  padding: 3% 0%;
  border-radius: 10px; color: #2b2b2b;
}
#after-job{
  padding: 10% 5%;
}
.video-play-button {
  position: absolute;
  z-index: 10;
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  transform: translateY(-50%);
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
}

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100px;
  height: 100px;
  background: #5deabb;
  border-radius: 50%;
  -webkit-animation: pulse-border 1500ms ease-out infinite;
  animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  transition: all 200ms;
}

.video-play-button:hover:after {
  background-color: #009f65;
}

.video-play-button img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}

.video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  transform: scale(0.6);
  border-left: 32px solid #009f65;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
}

.video-play-button span:hover {
  border-left: 32px solid #353535;
}

@-webkit-keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

main {
  overflow: hidden;

  margin: 0;
}

a,
button {
  cursor: pointer;
  border: none;
  outline: none;
  user-select: none;
  background: none;
  box-shadow: none;
  text-decoration: none;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.section {
  margin: 0 auto;
  padding: 3rem 0 1rem;
}

.container {
  max-width: 75rem;
  height: auto;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.centered {
  text-align: center;
  vertical-align: middle;
  margin-bottom: 1rem;
}

.heading-xl {
  font-family: inherit;
  font-size: clamp(2.648rem, 6vw, 4.241rem);
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -1px;
  font-family: "Rubik", sans-serif;
}

.heading-lg {

  font-size: clamp(2.179rem, 5vw, 3.176rem) !important;
  font-weight: 700 !important;
  line-height: 1.15 !important;
  letter-spacing: -1px;
  font-family: "Rubik", sans-serif !important;
}

.heading-md {
  font-family: inherit;
  font-size: clamp(1.794rem, 4vw, 2.379rem);
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -1px;
  font-family: "Rubik", sans-serif;
}

.heading-sm {
  font-family: inherit;
  font-size: clamp(1.476rem, 3vw, 1.782rem);
  font-weight: 600;
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
}

.heading-xs {
  font-family: inherit;
  font-size: clamp(1.215rem, 2vw, 1.335rem);
  font-weight: 500;
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
}

.paragraph {
  font-family: inherit;
  font-size: clamp(1rem, 2vw, 1.125rem);
  text-wrap: balance;
  color: #3a3a3a;
}

.btn {
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  user-select: none;
  outline: none;
  border: none;
  border-radius: 0.25rem;
  text-transform: unset;
  transition: all 0.3s ease-in-out;
}

.btn-inline {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
  
}
.btn-inlines {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
  width: 100%;
}

.btn-darken {
  box-shadow: var(--shadow-medium)!important;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25;
  user-select: none;
  white-space: nowrap;
  text-align: center;
  padding: 0.65rem 1.5rem;
  border-radius: 3rem;
  text-transform: capitalize;
  color: white;
  background-color: #029a74;
  box-shadow: var(--shadow-medium);
  transition: all 0.3s ease-in-out;
}

.btn-darken :hover {
  background-color: #0c5439 !important;
}

.btn-neutral {
  padding: 0.75rem 2rem;
  color: var(--color-black-500);
  background-color: var(--color-white-100);
  box-shadow: var(--shadow-medium);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: auto;
  margin: 0 auto;
  transition: all 0.35s ease;
  background: #bbf9d6;
  ;
}

.header.on-scroll {
  background: rgb(117, 215, 178);
  box-shadow: var(--shadow-medium);
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 1.25rem;
  width: 100%;
  height: 4.25rem;
  margin: 0 auto;
}

.brand {
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -1px;
  color: var(--color-white-100);
  text-transform: uppercase;
}

.menu {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: auto;
  padding: 4rem 0 3rem;
  overflow: hidden;
  background-color: #bfdfcc;
  box-shadow: var(--shadow-medium);
  transition: all 0.4s ease-in-out;
}

.menu.is-active {
  top: 0;
  width: 100%;
  height: 100%;
}

.menu-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.25rem;
}

.menu-link {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: rgb(59, 59, 59);
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.menu-block {
  display: inline-block;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25;
  user-select: none;
  white-space: nowrap;
  text-align: center;
  margin-left: auto;
  padding: 0.65rem 1.5rem;
  border-radius: 3rem;
  text-transform: capitalize;
  color: white;
  background-color: #029a74;
  box-shadow: var(--shadow-medium);
  transition: all 0.3s ease-in-out;
}

@media only screen and (min-width: 48rem) {
  .menu {
    position: relative;
    top: 0;
    width: auto;
    height: auto;
    padding: 0rem;
    margin-left: auto;
    background: none;
    box-shadow: none;
  }

  .menu-inner {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    margin: 0 auto;
  }

  .menu-link {
    text-transform: capitalize;
  }

  .menu-block {
    margin-left: 2rem;
  }
}

.burger {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  order: -1;
  z-index: 10;
  width: 1.6rem;
  height: 1.15rem;
  border: none;
  outline: none;
  background: none;
  visibility: visible;
  transform: rotate(0deg);
  transition: 0.35s ease;
}

@media only screen and (min-width: 48rem) {
  .burger {
    display: none;
    visibility: hidden;
  }
}

.burger-line {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  border: none;
  outline: none;
  opacity: 1;
  border-radius: 1rem;
  transform: rotate(0deg);
  background-color: var(--color-white-100);
  transition: 0.25s ease-in-out;
}

.burger-line:nth-child(1) {
  top: 0px;
}

.burger-line:nth-child(2) {
  top: 0.5rem;
  width: 70%;
}

.burger-line:nth-child(3) {
  top: 1rem;
}

.burger.is-active .burger-line:nth-child(1) {
  top: 0.5rem;
  transform: rotate(135deg);
}

.burger.is-active .burger-line:nth-child(2) {
  opacity: 0;
  visibility: hidden;
}

.burger.is-active .burger-line:nth-child(3) {
  top: 0.5rem;
  transform: rotate(-135deg);
}

.banner-column {
  position: relative;
  display: grid;
  align-items: center;
  row-gap: 3rem;
}

.btn-play {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: #007bff;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.btn-play i {
  font-size: 2rem;
  color: #fff;
}

.btn-inline {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}


@media only screen and (max-width: 3600px) and (min-width: 500px) {

  #burger,
  .burger {
    display: none;
  }
}


@media only screen and (max-width: 600px) {
  .burger.is-active {
    color: #1f1f1f !important;
  }
  .job{
   display: none;
  }

  .slider__arrows {
    transform: translateY(650%) !important;

  }

  .section-three {
    background-image: url(../img/mobile.png) !important;

  }

  .section-three .maindiv {
    padding-right: 0% !important;
  }

  .faq {
    padding: 40% 0% 10% 0%!important;
  }

  .accordion {
    width: 100% !important;
  }

}

@media only screen and (min-width: 48rem) {
  .banner-column {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-content: center;

  }


}

@media only screen and (min-width: 64rem) {
  .banner-column {
    grid-template-columns: 1fr max-content;
    column-gap: 2rem;

  }
}

.banner-image {
  display: block;
  max-width: 18rem;
  height: auto;
  margin-top: 2rem;
  object-fit: cover;
  justify-self: center;
  padding-top: 5%;

}

@media only screen and (min-width: 48rem) {
  .banner-image {
    order: 1;
    max-width: 20rem;
    height: auto;
  }
}

@media only screen and (min-width: 64rem) {
  .banner-image {
    max-width: 35rem;
    height: 100%;

  }
}

.banner-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1.75rem;
  padding-top: 15%;
  width: 100%;
}

.banner-links {
  position: absolute;
  top: 30%;
  right: 1.5rem;
  display: grid;
  justify-items: center;
  row-gap: 0.5rem;
  opacity: 0;
  visibility: hidden;
}

@media only screen and (min-width: 64rem) {
  .banner-links {
    opacity: 1;
    visibility: visible;
  }
}

.banner-links>* {
  font-size: 1.25rem;
  line-height: 1.25;
  color: var(--color-white-100);
}

.banner-links::before {
  position: absolute;
  content: "";
  top: -3rem;
  width: 4rem;
  height: 1.5px;
  transform: rotate(90deg);
  background: var(--color-white-100);
}

.banner-links::after {
  position: absolute;
  content: "";
  bottom: -3rem;
  width: 4rem;
  height: 2px;
  transform: rotate(90deg);
  background: var(--color-white-100);
}



.burger {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  order: -1;
  z-index: 10;
  width: 1.6rem;
  height: 1.15rem;
  border: none;
  outline: none;

  visibility: visible;
  transform: rotate(0deg);
  transition: 0.35s ease;
}

.burger-line {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  border: none;
  outline: none;
  opacity: 1;
  border-radius: 1rem;
  transform: rotate(0deg);
  background-color: #41a368;
  transition: 0.25s ease-in-out;
}

#burger .burger is-active {
  background-color: #316044;
}

.menu-link {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: rgb(59, 59, 59);
  /* Default color */
  text-transform: uppercase;
  transition: all 0.3s ease;
  position: relative;
  /* Add relative positioning */
}

.menu-link:hover {
  color: darkgreen;
  /* Change color on hover */
}

.menu-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  /* Adjust the thickness of the bar */
  width: 100%;
  height: 3px;
  /* Height of the bar */
  background-color: transparent;
  /* Initially transparent */
  transition: all 0.3s ease;
}

.menu-link:hover::after {
  background-color: darkgreen;
  /* Change color of the bar on hover */
}

.menu-item.active .menu-link {
  color: darkgreen;
  /* Change color of active menu item */
}

.menu-item.active .menu-link::after {
  background-color: darkgreen;
  /* Change color of bar below active menu item */
}


/*  -----------------  section 2 ------------- */
.container-two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}

.section-three {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  max-width: 100%;

}

.box,
.certibox {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.box-up,
.box-down,
.middle {
  background: #cbe0d4;
  box-shadow: 0px 16px 32px rgb(9 11 17 / 40%);
  border-radius: 20px;
}

.box-up img,
.box-down img,
.middle img {
  width: 15%;
  padding: 4% 3%;
}

#hide {
  display: none;
}

@media (max-width: 768px) {

  .container-two,
  .section-three {
    flex-direction: column;
    width: 100%;
  }

}

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(144, 6%, 51%);
  --veryLightGray: hsl(0, 0%, 98%);
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
  --cyan: hsl(179, 62%, 43%);
  --cyan-light: hsla(179, 62%, 43%, 0.75);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
  --white: hsl(0, 0%, 100%);

  --fw-normal: 400;
  --fw-bold: 700;
}


@media (max-width: 400px) {
  h1 {
    font-size: 1.5rem;
  }
}

#orange {
  max-width: 30% !important;
}

#sectiontwo-inner {
  border: 0;
  padding-right: 30%;
}

.box p {
  color: var(--grayishBlue);
  font-size: 0.9rem;
  padding: 2% 0%;
}

.box {
  padding: 30px;
  margin: 20px;
}


@media (max-width: 450px) {
  .box {
    height: auto;
  }

  #sectiontwo-inner {
    padding: 0%;
  }

  #orange {
    max-width: 100% !important;
  }

  .container-two {
    width: 100%;
    max-width: 90%;
    text-align: center;
  }

  .row1-container,
  .row2-container {
    transform: translateY(-10%);
  }
}





@media (min-width: 950px) {

  .row1-container,
  .row2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0% 12%;
    transform: translateY(-40%);

  }


  .box-down {
    position: relative;
    top: 150px;
  }

  .box-up {
    margin-top: -20%;
  }

  .box {
    width: 30%;

  }

  .header p {
    width: 30%;
  }

  #hide {
    display: none;
  }
}

/* section 3 */
.section-three {
  background-image: url("../img/1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10% 0%;
}

.section-three .box {
  padding: 5% 0%;
}

.sectionthree-heading {
  padding: 6% 0% 0% 0%;
}

.section-three .maindiv {
  padding-right: 15%;
}

:root {

  --card-aspect-ratio: 16 / 9;

  --arrow-size: 2.5rem;
  --arrow-icon-size: 1.75rem;
  --arrow-icon-color: rgb(0 0 0 / 50%);
  --arrow-icon-color-hover: rgb(0 0 0 / 75%);
  --arrow-bg-color: transparent;
  --arrow-bg-color-hover: rgb(0 0 0 / 10%);

  --bullet-size: .5rem;

  --transition-speed: .5s;
  --transition-bezier: cubic-bezier(0.55, -0.85, 0.2, 1.85);

  --icon-arrow: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTIwLDExVjEzSDhMMTMuNSwxOC41TDEyLjA4LDE5LjkyTDQuMTYsMTJMMTIuMDgsNC4wOEwxMy41LDUuNUw4LDExSDIwWiIgLz48L3N2Zz4=");
}

.slider {
  position: relative;
  width: 100%;
  max-width: 100%;

}

.slider__cards {
  width: 100%;
  aspect-ratio: var(--card-aspect-ratio);
  position: relative;
  margin-inline: auto;
}

.slider__card {
  width: var(--card-width);
  aspect-ratio: var(--card-aspect-ratio);
  border-radius: .5rem;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity var(--transition-speed) ease-in-out;
  overflow: hidden;
}

.slider__card[active] {
  opacity: 1;
}


.slider__arrows {
  position: absolute;
  transform: translateY(500%);
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.slider__arrow {
  height: 2rem;
  width: 5rem;
  border-radius: 5%;
  border: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.slider__arrow[disabled] {
  opacity: .25;
  pointer-events: none;
}

.slider__arrow:is(:hover, :focus-visible) {
  color: green;
}

.slider__arrow::after {
  content: '';
  display: block;
  height: var(--arrow-icon-size);
  width: var(--arrow-icon-size);
  mask-position: center;
  -webkit-mask-position: center;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-image: var(--icon-arrow);
  -webkit-mask-image: var(--icon-arrow);
  background-color: var(--arrow-icon-color);
}

.slider__arrow:is(:hover, :focus-visible)::after {
  background-color: var(--arrow-icon-color-hover);
}

.slider__arrow--next,
.slider__arrow--prev {
  font-weight: 700;
}

.slider__arrow--next::after {
  transform: rotate(180deg);
}

.slider__bullets {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  position: absolute;
  left: 0;
  bottom: 1rem;
  pointer-events: none;
}

.slider__bullet {
  display: block;
  height: var(--bullet-size);
  width: var(--bullet-size);
  background-color: white;
  border: none;
  border-radius: 2rem;
  transition: width var(--transition-speed) var(--transition-bezier);
}

.slider__bullet[active] {
  width: calc(var(--bullet-size) * 3);
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background: rgba(255, 255, 255, 70%);
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
}

.play-button::before {
  content: "\25B6";
  font-size: 25px;
}





@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}
@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}
.slider__dream {
  
  height: auto;
  margin: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.slider__dream::before,
.slider__dream::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100%;
  position: absolute;
  width:auto;
  z-index: 2;
}
.slider__dream::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}
.slider__dream::before {
  left: 0;
  top: 0;
}
.slider__dream .slide-track {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider__dream .slide__dream {
  height: 100%;
  width: auto;
  margin:0px 8px;
}

.slide__dream img{
  border-radius: 5%;
}





























/* section 4 - certificate */

.box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rectangle {
  width: 100%;
  margin: 10px;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.rectangle:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.rectangle img {
  width: 100px;
  height: 100px;
  margin: 20px;
}

.box-content {
  flex: 1;
  padding: 20px;
}

.box-description {
  margin-bottom: 10px;
}

.download-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* section-4 : certificate  */


[class*="col-"] {
  float: left;
}

.col-1-8 {
  width: 12.5%;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}



[class*="col-"]:last-of-type {
  padding-right: 0;
}

.grid-pad {
  padding: 20px 0 20px 0;
}

.column-content{
  padding: 11% 5%;
}



/* Responsive design - this is for tablets and smartphones */
@media screen and (max-width: 750px) {
  .col-1-2 {
    width: 100%;
  }

  .col-1-4 {
    width: 100%;
  }
}

/* Responsive design - this is laptops and desktops */
@media screen and (min-width: 751px) {
  .col-1-2 {
    width: 60%;
  }

  .col-1-4 {
    width: 20%;
  }
}

.certificate-img{
  padding-top: 20%;
}
/* Custom styles */
.column-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.download-icon {
  text-align: center;
  margin-top: 20px;
}


/* certificate */

.wrapper {
	padding: 5px;
	max-width: 960px;
	width: 100%;
	margin: 20px auto;
}


.certificate-column,.certificate-img{
  float: left;
  padding: 10px;
  
}
.certificate-img{
width:30%
}
.certificate-column{
width:70%
}
.certificate{
  display: flex;
  justify-content: center; /* Center content horizontally */ 
 
}
.certificate:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .certificate-img,.certificate-column{
      width: 100%;
  }
  .certificate {
    flex-direction: column; /* Stack columns vertically on small screens */
  }
}


/* section-5 : faq */


.faq {
  padding: 10% 0%;
}

.faq h2,
h4 {
  text-align: center;
}

.accordion {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
}

.accordion-item {
  background-color: #fff;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: #5d5d5d;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}

.accordion-item-header.active::after {
  content: "\2212";
}

.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
  padding: 1rem;
  border-top: 1px solid;
  height: 100%;
  font-size: 90%;
  font-weight: normal;
  color: #8f8f8f;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}


/* Courses */

.courses {
  text-align: center;
  padding: 10% 0% 2% 0%;
}

.card-slider {
  max-width: 1000px;
  margin: 0 auto;
  
}
@media screen and (max-width: 1024px) {
  .card-slider {
    width: 85%;
  }
}
.card-slider .slick-prev-icon,
.card-slider .slick-next-icon {
  color: black;
}
.card-slider .slick-slide {
  padding: 0 10px;
}
.card-slider .card {
  position: relative;
  display: flex !important;
  flex-direction: column;
  height: 100%;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  text-decoration: none;
  border-radius:10px;
  color: rgba(0, 0, 0, 0.9);
  transition: all 0.1s linear;
  padding: 5px;
}
@media screen and (max-width: 600px) {
  .card-slider .card {
    height: auto;
  }
  .dream h4{
    padding: 2% 5% 5% 5%;
    font-size:14px;
  }
}
.dream .container{
  padding: 10% 0% 2% 0%;
}
.dream h2{
  text-align: center;
}
.card-slider .card {
  background-color:#f4fffa ;
}
.card-slider .card .main-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
}
.card-slider .card .main-link:focus {
  outline: none;
}
.card-slider .card .main-link:focus .title {
  outline: 3px dashed orange;
  outline-offset: -4px;
  color: royalblue;
  text-decoration: underline;
}
.card-slider .card .title {
  color: #000;
  margin: 0;
  padding: 10px 10px 5px 10px;
  font-size: 16px;
  font-weight: bold;
}
.card-slider .card .title:hover {
  text-decoration: underline;
}
.card-slider .card .image {
  order: -1;
  position: relative;
  height: 200px;
  padding: 2px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:10px;
}
.card-slider .card .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(0.5);
  transition: all 0.3s ease-in-out;
}
.card-slider .card .image:hover img {
  width: 110%;
  height: 110%;
}
.card-slider .card .description {
  margin: 7px 10px 15px 10px;
  font-size: 14px;
  opacity: 0.8;
}
.card-slider .card .badge {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 1;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: #c80000;
}
.card-slider .card .price {
  padding-left: 10px;
}
.card-slider .card .price .new-price {
  font-weight: bold;
}
.card-slider .card .price .original-price {
  margin-left: 5px;
  font-size: 14px;
  font-style: italic;
  opacity: 0.5;
  text-decoration: line-through;
}
.card-slider .card .rating {
  margin: 10px 0 15px 10px;
  color: orange;
  font-size: 12px;
}
.card-slider .card .rating .reviews-link {
  color: rgba(0, 0, 0, 0.6);
  margin-left: 5px;
}
.card-slider .card .rating .reviews-link:hover {
  color: black;
}
.card-slider .card .rating .reviews-link:focus {
  color: royalblue;
  outline: 3px dotted royalblue;
  outline-offset: 2px;
}
.card-slider .card:hover {
  border-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}
.card-slider .card:hover .image img,
.card-slider .card:focus .image img {
  filter: grayscale(0);
}
.card-slider .card a:focus {
  outline: none;
}


.note {
  text-align: center;
  font-size: 14px;
  max-width: 960px;
  padding: 40px 20px;
  margin: 0 auto;
  opacity: 0.8;
}
.note a {
  color: black;
  font-weight: bold;
}
.note a:hover, .note a:focus {
  color: royalblue;
}
/* testimonials */



.section-testmonials {
  display: flex;
  gap: 20px;
  align-items: center;
  padding:10% ;
}

.column-testmonials {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 20%;
}

.section-details {
  border-left: 10px solid #00583c;
  padding-left: 20px;
}


.name-section {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 14px;
  color: #00583c !important;
  line-height: 1.2em;
  margin: 0;
}

.title-section b {
  color: #00583c;
}

.title-section {
  color: #000;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.navigation-testmonials {
  display: flex;
  gap: 10px;
}


.swiper-testmonials {
  width: 80%;
  overflow: hidden;
  position: relative;
}

@media (max-width: 768px) {
  .section-testmonials {
      flex-direction: column;
      align-items: flex-start;
  }

  .swiper-testmonials {
      width: 100%;
  }
}

.swiper-testmonials .swiper-slide {
  border-radius: 10px;
  background:rgb(117, 215, 178) ;
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  transform: scale(0.9) !important;
  filter: blur(1px) grayscale(0.5);
  transition: 0.2s;
}

.swiper-testmonials .swiper-slide * {
  margin: 0;
}

.swiper-testmonials .swiper-slide-active {
  filter: blur(0px) !important;
  transform: scale(1) !important;
}

.card-slide {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.head-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-slide {
  display: flex;
  align-items: center;
  gap: 20px
}

.title-slide h4 {
  color: #585858;
  font-size: 20px;
  font-weight: 700;
}

.title-slide h6 {
  color: #004f23;
  font-size: 14px;
  font-weight: 500;
}

.text-slide {
  color: #676767;
  font-family: Poppins;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.swiper-button-testmonials-next,
.swiper-button-testmonials-prev {
  cursor: pointer;
}


@media (max-width: 768px) {
  .header-slide svg {
      width: 50px;
  }

  .title-slide h4 {
      font-size: 14px;
  }

  .swiper-testmonials .swiper-slide {
      padding: 20px;
  }
}


.circle-img {
  width: 80px; 
  height: 80px; 
  border-radius: 50%; 
  overflow: hidden; 
}

.circle-img img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}




/* ----------footer ------------- */


.pg-footer {
  font-family:inherit;
}


.footer {
    background-color: #00583c;
    color: #fff;
}
.footer-wave-svg {
    background-color: transparent;
    display: block;
    height: 30px;
    position: relative;
    top: -1px;
    width: 100%;
}
.footer-wave-path {
    fill: #fffff2;
}

.footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
}

.footer-content-column {
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    color: #fff;
}

.footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-logo-link {
    display: inline-block;
}
.footer-menu {
    margin-top: 30px;
}

.footer-menu-name {
    color: #fffff2;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-menu-list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 0;
}
.footer-menu-list li {
    margin-top: 5px;
    font-size: 16px;
    font-family: inherit;
}

.footer-call-to-action-description {
    color: #fffff2;
    margin-top: 10px;
    margin-bottom: 20px;
}
.footer-call-to-action-button:hover {
    background-color: #fffff2;
    color: #00f0b0;
}
.button:last-of-type {
    margin-right: 0;
}
.footer-call-to-action-button {
    background-color: #029a74;
    border-radius: 21px;
    color: #fffff2;
    display: inline-block;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    padding: 12px 30px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .2s;
    cursor: pointer;
    position: relative;
}
.footer-call-to-action {
    margin-top: 30px;
}
.footer-call-to-action-title {
    color: #fffff2;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-call-to-action-link-wrapper {
    margin-bottom: 0;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
}
.footer-call-to-action-link-wrapper a {
    color: #fff;
    text-decoration: none;
}





.footer-social-links {
    bottom: 0;
    height: 54px;
    position: absolute;
    right: 0;
    width: 255px;
}

.footer-social-amoeba-svg {
    height: 54px;
    left: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 236px;
}

.footer-social-amoeba-path {
    fill: #029a79;
}

.footer-social-link.linkedin {
   
    left: 3px;
    top: 11px;
    width: 45px;
}

.footer-social-link {
    display: block;
    padding: 10px;
    position: absolute;
}

.hidden-link-text {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    top: 50%;
}

.footer-social-icon-svg {
    display: block;
}

.footer-social-icon-path {
    fill: #fffff2;
    transition: fill .2s;
}

.footer-social-link.twitter {
      left: 62px;
    top: 3px;
    width: 45px;
}

.footer-social-link.youtube {
   
    left: 123px;
    top: 12px;
    width: 45px;
}

.footer-social-link.github {
 
    left: 172px;
    top: 7px;
    width: 50px;
}

.footer-copyright {
    background-color: #029a74;
    color: #fff;
    padding: 15px 30px;
  text-align: center;border: 1px solid#029a74;
}

.footer-copyright-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.footer-copyright-text {
  color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-copyright-link {
    color: #fff;
    text-decoration: none;
}







/* Media Query For different screens */
@media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */

}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */

}
@media (min-width:1281px) { /* hi-res laptops and desktops */

}




@media (min-width: 760px) {
  .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 450px;
      position: relative;
  }

  .footer-wave-svg {
      height: 50px;
  }

  .footer-content-column {
      width: 24.99%;
  }
}
@media (min-width: 568px) {
  /* .footer-content-column {
      width: 49.99%;
  } */
}
